.outer {
  background-color: red;
  height: 10rem;
  width: 10rem;
  /* position: relative; */
}
.inner {
  background-color: blue;
  height: 7rem;
  width: 7rem;
  position: relative;
}
.core {
  background-color: green;
  position: absolute;
  right: 0;
  height: 4rem;
  width: 4rem;
}

